<!DOCTYPE html>
<html>
 <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
 </head>
  <body>
    <div id="main">
      <header>
        <h1>
          John Doe Photograghy
        </h1>
          <nav role="navigation">
            <ul>
              <li>
                <a href="/"> Home </a>
              </li>
              <li>
                <a href="/portfolio/"> Portfolio </a>
              </li>
              <li>
                <a href="/about"> About </a>
              </li>
              <li>
                <a href="/contact"> Contact </a>
              </li>
            </ul>
          </nav>
          {{ content }}
          <footer>
            <p>
              @copy; John Doe Photography 2011 | All Rights Reserved.
            </p>
          </footer>
    </div>
  </body>
</html>
